/* Element Selectors */
body {
  font-family: 'Karla', sans-serif;
}

/* Class Selectors */
.bg-black {
  background: #000;
  color: #fff;
}

.bg-blue {
  background: #30A1CA;
}

.bg-dark-blue {
  background: #3D8199;
}

.bg-green {
  background: #00A376;
}

.bg-light-green {
  background: #30caa6;
}

.black-border {
  border: 2.5px solid #000;
}

.bold {
  font-weight: bold;
}

.card {
  border-radius: 0px;
}

.description {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  text-shadow: 0.15px 0.15px;
}

.icon:hover {
  opacity: 0.8;
}

.icon-space {
  padding-left: 35px;
  padding-right: 35px;
}

.sites {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 220px;
  width: 282px;
}

.fill {
  background-color: black;
}

.zoom {
  margin: 0 auto;
  transition: transform .2s;  Animation 
 -webkit-filter: grayscale(100%); Safari 6.0 - 9.0
  filter: grayscale(100%); 
}

/* ID Selectors */
#main-header img {
  height: 100%;
  width: 100%;
}

#main-header .port-item {
  width: 25%;
}

#main-header .port-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.white-border {
  border: 2.5px solid #fff;
}

.zoom:hover {
  filter: brightness(100%);
  opacity: 1;
  transform: scale(1.2); 
-webkit-filter: brightness(100%); /* Safari */
}

/* Media Queries */
@media(min-width: 414px) {
  .footer-space {
    display: none;
  }
}

@media(max-width: 768px) {
  .paragraph-vertical-adjust {
    padding-top: 50px;
  }
}

@media(min-width: 768px){
  body,
  .lead {
    font-size: 1.3rem;
  }
}

@media(min-width: 768px) and (max-width: 992px){
  .height-adjust {
    height: 117px;
  }
}

@media(min-width: 992px) and (max-width: 1200px){
  .height-adjust {
    height: 120px;
  }
}

@media(min-width: 1200px){
  .height-adjust {
    height: 142px;
  }

  .icon {
    font-size: 5rem;
  }

  .description {
    font-size: 2.2rem;
  }
  
}

@media(min-width: 1199px) {
  .port-item {
    padding: 2em !important;
  }
} 

